[user]
	name = lxz-404
	email = azikdev23@gmail.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	autocrlf = input

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
